<div class="prodmenu">

    <div class="row mb-5">
  
      <div class="col-md-12">
  
        <div class="row">
  
          <div class="col-md-6">
  
            <div class="btn-group mb-3 mb-md-0 btn-block">
  
              <a
  
                routerLink="/product/create"
  
                routerLinkActive="active"
  
                class="btn btn-secondary dark-theme-button"
  
              >
  
                Create Product
  
              </a>
  
              <a
  
                routerLink="/product/search"
  
                routerLinkActive="active"
  
                class="btn btn-secondary dark-theme-button"
  
              >
  
                Search Product
  
              </a>
  
              <a
  
                routerLink="/product/view"
  
                routerLinkActive="active"
  
                class="btn btn-secondary dark-theme-button"
  
              >
  
                View Product
  
              </a>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  <router-outlet></router-outlet>